*{
    margin: 0px;
    padding: 0px;
}


body{
    width: 100%;
    height:100%;
    background-color: rgb(235, 225, 213);    
}

h1{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 2rem;
    font-size: 4rem;
}

#input-box{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 3rem;
    font-size: 2rem;
}

.box2{
    width: 12vw;
    height: 4vh;
    font-size:1rem;
}

.box3{
    width: 3.5rem;
    height: 2rem;
}

#add{
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: orangered;
    border: none;
    width: 4.5rem;
    height: 2.5rem;
}


table{
    width: 90vw;
    margin: 3rem auto;
    border-collapse: collapse;
    background-color: rgb(154, 110, 56);
    font-size: 1.5rem;
}

thead{
    color: white;

}

th,td{
    /* align-items: center; */
    border: 1px solid black;
}

tfoot{

    font-weight: bold;
    font-style:italic;
    color: white;
    background-color: orangered;
}

#expense-table-body{
    background-color: aliceblue;
    color: black;
    text-align: center;


}

.delete-btn{
    margin:0.5rem 0rem 0.5rem 0rem ;
    align-items: center;
    background-color: red;
    color: white;
    border: none;
    width: 3rem;
    height: 1.5rem;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}